div{
    margin-left: 50px;
    margin-right: 50px;
}

header{
    margin-left: 50px;
    margin-right: 50px;
    border-style: none none solid none;
    border-color: rgb(196, 196, 196);
}
        
#abet, #profile{
    background-color: rgb(235, 235, 235);
    font-size: 20pt;
    display: table-cell;
            
    width: 100%;
    padding-bottom: 30px;
    font-weight: bold;
}
        
  
div nav{
    float: left;
    background-color: rgb(235, 235, 235);
    border-style: none solid none none;
    border-color: rgb(196, 196, 196);
    width:20%;
    height:1000px;
    margin-top: inherit;
    font-size: 35px;
    padding-top: 25px;
    padding-left: 5px;

}
 
div a{
    position: relative;
    width: 20%;
    margin-: 200px;
    border-style: solid solid solid solid;
    border-color: rgb(196, 196, 196);

}
div main{
    float: left;
    background-color: white;
    width:75%;
    height:100px;
    margin-top: inherit;
    font-size: 25px;
    padding-top: 30px;
}
